:host(.usuario-grid) [part~="header-cell"],
:host(.empleado-grid) [part~="header-cell"],
:host(.lote-grid) [part~="header-cell"],
:host(.almacen-grid) [part~="header-cell"],
:host(.producto-grid) [part~="header-cell"],
:host(.compra-grid) [part~="header-cell"] {
    background-color: #002899;
    color: #ffffff;
    font-weight: 500;
    font-size: 14px;
    padding-top: 5px;
    padding-bottom: 5px;
}
