:host(.usuario-grid) [part~="header-cell"],
:host(.empleado-grid) [part~="header-cell"],
:host(.lote-grid) [part~="header-cell"],
:host(.almacen-grid) [part~="header-cell"],
:host(.producto-grid) [part~="header-cell"],
:host(.compra-grid) [part~="header-cell"],
:host(.nomina-grid) [part~="header-cell"],
:host(.configuracion-grid) [part~="header-cell"],
:host(.recepciones-pendientes-grid) [part~="header-cell"],
:host(.transferencia-grid) [part~="header-cell"],
:host(.despacho-grid) [part~="header-cell"],
:host(.ajustes-grid) [part~="header-cell"],
:host(.vehiculo-grid) [part~="header-cell"],
:host(.ruta-grid) [part~="header-cell"] {
    background-color: #002899;
    color: #ffffff;
    font-weight: 500;
    font-size: 14px;
    padding-top: 5px;
    padding-bottom: 5px;
}

[part~="lote-expirado"] {
    background-color: #ffeaea;
    color: #cc0000;
}

[part~="lote-peligro"] {
    background-color: #fff4d5;
    color: #b38000;
}